* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* SIDEBAR */
.l-sideBar {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgb(18, 16, 29);
  height: 100%;
  width: 60px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  color: #fff;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT */
.l-sideBar__content {
  position: relative;
  width: 100%;
  padding: 20px 10px;

  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SIDEBAR => CONTENT => BRAND-WRAPPER */
.l-sidebar__brand-wrapper {
  position: relative;
  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* SIDEBAR => CONTENT => BRAND-WRAPPER => BRAND */
.l-sidebar__brand-wrapper__brand {
  position: relative;
  width: 100%;
  height: 100%;

  display: none;
  align-items: center;
  flex-direction: row;
  gap: 5px;

  opacity: 0;

  font-size: 26px;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => BRAND-WRAPPER => BRAND => NAME*/
.e-brand-name {
  font-size: 20px;
}

/* SIDEBAR => CONTENT => BRAND-WRAPPER => ICON*/
.l-sidebar__brand-wrapper__menu {
  position: relative;
  height: 100%;
  font-size: 20px;

  display: flex;
  align-items: center;

  cursor: pointer;
}

/* SIDEBAR => CONTENT =>  SEARCH */
.l-sideBar__search {
  margin-top: 20px;

  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;

  background-color: rgb(30, 27, 49);
  border-radius: 5px;
}

/* SIDEBAR => CONTENT => SEARCH => ICON */
.l-sideBar__search__icon {
  font-size: 20px;
  display: flex;
  align-items: center;

  padding: 10px;
}

/* SIDEBAR => CONTENT => SEARCH => DIV-INPUT */
.l-sideBar__search__input {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 10px;

  opacity: 0;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => SEARCH => DIV-INPUT => INPUT */
.e-search-input {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: transparent;
  border: none;
  color: #fff;

  font-size: 16px;
}

/* SIDEBAR => CONTENT => DASHBOARD */
.l-sideBar__dashboard {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border-radius: 5px;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.l-sideBar__dashboard:hover {
  background-color: rgb(224, 222, 226);
  color: rgb(30, 27, 49);
}

/* SIDEBAR => CONTENT => DASHBOARD => ICON */
.l-sideBar__dashboard__icon {
  font-size: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
}

/* SIDEBAR => CONTENT => DASHBOARD => TEXT */
.l-sidebar__dashboard__text {
  opacity: 0;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => USER */
.l-sideBar__user {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border-radius: 5px;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.l-sideBar__user:hover {
  background-color: rgb(224, 222, 226);
  color: rgb(30, 27, 49);
}

/* SIDEBAR => CONTENT => USER => ICON */
.l-sideBar__user__icon {
  font-size: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
}

/* SIDEBAR => CONTENT => USER => TEXT */
.l-sidebar__user__text {
  opacity: 0;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => MESSAGES */
.l-sideBar__messages {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border-radius: 5px;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.l-sideBar__messages:hover {
  background-color: rgb(224, 222, 226);
  color: rgb(30, 27, 49);
}

/* SIDEBAR => CONTENT => MESSAGES => ICON */
.l-sideBar__messages__icon {
  font-size: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
}

/* SIDEBAR => CONTENT => MESSAGES => TEXT */
.l-sidebar__messages__text {
  opacity: 0;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => ANALYTICS */
.l-sideBar__analytics {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border-radius: 5px;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.l-sideBar__analytics:hover {
  background-color: rgb(224, 222, 226);
  color: rgb(30, 27, 49);
}

/* SIDEBAR => CONTENT => ANALYTICS => ICON */
.l-sideBar__analytics__icon {
  font-size: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
}

/* SIDEBAR => CONTENT => ANALYTICS => TEXT */
.l-sidebar__analytics__text {
  opacity: 0;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => FOLDER */
.l-sideBar__folder {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border-radius: 5px;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.l-sideBar__folder:hover {
  background-color: rgb(224, 222, 226);
  color: rgb(30, 27, 49);
}

/* SIDEBAR => CONTENT => FOLDER => ICON */
.l-sideBar__folder__icon {
  font-size: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
}

/* SIDEBAR => CONTENT => FOLDER => TEXT */
.l-sidebar__folder__text {
  white-space: nowrap;

  opacity: 0;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => FOLDER => TOOLTIP */
.l-sideBar__folder .l-sidebar__tooltip {
  white-space: nowrap;
}

/* SIDEBAR => CONTENT => ORDER */
.l-sideBar__order {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border-radius: 5px;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.l-sideBar__order:hover {
  background-color: rgb(224, 222, 226);
  color: rgb(30, 27, 49);
}

/* SIDEBAR => CONTENT => ORDER => ICON */
.l-sideBar__order__icon {
  font-size: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
}

/* SIDEBAR => CONTENT => ORDER => TEXT */
.l-sidebar__order__text {
  opacity: 0;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => SAVED */
.l-sideBar__saved {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border-radius: 5px;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.l-sideBar__saved:hover {
  background-color: rgb(224, 222, 226);
  color: rgb(30, 27, 49);
}

/* SIDEBAR => CONTENT => SAVED => ICON */
.l-sideBar__saved__icon {
  font-size: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
}

/* SIDEBAR => CONTENT => SAVED => TEXT */
.l-sidebar__saved__text {
  opacity: 0;
  transition: all 0.2s ease;
}

/* SIDEBAR => CONTENT => SETTINGS */
.l-sideBar__settings {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border-radius: 5px;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.l-sideBar__settings:hover {
  background-color: rgb(224, 222, 226);
  color: rgb(30, 27, 49);
}

/* SIDEBAR => CONTENT => SETTINGS => ICON */
.l-sideBar__settings__icon {
  font-size: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
}

/* SIDEBAR => CONTENT => SETTINGS => TEXT */
.l-sidebar__settings__text {
  opacity: 0;
  transition: all 0.2s ease;
}

/* FOOTER */
.l-sideBar__footer {
  position: relative;
  width: 100%;
  height: 60px;

  padding: 0 0;
}

/* FOOTER => CONTENT*/
.l-sideBar__footer__content {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: rgb(30, 27, 49);

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  padding: 8px 8px;
}

.l-sideBar:not(.showSidebar) .l-sideBar__footer__content {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER => CONTENT PHOTO*/
.l-sideBar__footer__content__photo {
  position: relative;
  height: 100%;
  max-width: 60px;
}

.l-sideBar:not(.showSidebar) .l-sideBar__footer__content__photo {
  display: none;
}

/* FOOTER => CONTENT PHOTO => PHOTO*/
.e-user__photo {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 5px;
}

/* FOOTER => CONTENT NAME */
.l-sideBar__footer__content__name {
  position: relative;
  width: auto;
  height: 100%;

  white-space: nowrap;

  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: -10px;
}

.l-sideBar:not(.showSidebar) .l-sideBar__footer__content__name {
  display: none;
}

/* FOOTER => CONTENT NAME => NAME*/
.l-sideBar__footer__content__name__user {
  font-size: 15px;
  font-weight: 500;
}

/* FOOTER => CONTENT NAME => JOB*/
.l-sideBar__footer__content__name__job {
  font-size: 13px;
}

/* FOOTER => CONTENT NAME => ICON*/
.l-sideBar__footer__content__icon {
  position: relative;
  width: auto;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  cursor: pointer;

  transition: all 0.2s ease;
}

.l-sideBar:not(.showSidebar) .l-sideBar__footer__content__icon {
  background-color: rgb(30, 27, 49);
  padding: 10px 10px;
  border-radius: 5px;
}

.l-sideBar:not(.showSidebar) .l-sideBar__footer__content__icon:hover {
  background-color: #fff;
  color: rgb(30, 27, 49);
}

/* TOOLTIP */
.l-sidebar__tooltip {
  position: absolute;

  background-color: #fff;

  right: 0;
  transform: translateX(100%);

  padding: 5px 10px;

  border: 1px solid rgb(30, 27, 49);
  border-radius: 10px;

  transition: all 0.2s ease;

  color: rgb(30, 27, 49);

  opacity: 0;
}

/* TOOLTIP DASHBOARD*/
.l-sideBar:not(.showSidebar) .l-sideBar__dashboard:hover .l-sidebar__tooltip {
  transform: translateX(120%);

  opacity: 1;
}

/* TOOLTIP USER*/
.l-sideBar:not(.showSidebar) .l-sideBar__user:hover .l-sidebar__tooltip {
  transform: translateX(140%);

  opacity: 1;
}

/* TOOLTIP MESSAGES*/
.l-sideBar:not(.showSidebar) .l-sideBar__messages:hover .l-sidebar__tooltip {
  transform: translateX(122%);

  opacity: 1;
}

/* TOOLTIP ANALYTICS*/
.l-sideBar:not(.showSidebar) .l-sideBar__analytics:hover .l-sidebar__tooltip {
  transform: translateX(124%);

  opacity: 1;
}

/* TOOLTIP FOLDER*/
.l-sideBar:not(.showSidebar) .l-sideBar__folder:hover .l-sidebar__tooltip {
  transform: translateX(118%);

  opacity: 1;
}

/* TOOLTIP FOLDER*/
.l-sideBar:not(.showSidebar) .l-sideBar__order:hover .l-sidebar__tooltip {
  transform: translateX(135%);

  opacity: 1;
}

/* TOOLTIP SAVED*/
.l-sideBar:not(.showSidebar) .l-sideBar__saved:hover .l-sidebar__tooltip {
  transform: translateX(134%);

  opacity: 1;
}

/* TOOLTIP SETTINGS*/
.l-sideBar:not(.showSidebar) .l-sideBar__settings:hover .l-sidebar__tooltip {
  transform: translateX(128%);

  opacity: 1;
}

/* CLASSES PARA OS EVENTOS JAVASCRIPT */
.centerMenu {
  justify-content: space-between;
}

.showElements {
  display: flex;
  opacity: 1;
}

.showSidebar {
  width: 240px;
}
